spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/online_shop
    username: postgres
    password: qazplm
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: '1.0.0'
    locations: classpath:db/migration
